.container {
  list-style: none;
  padding: 0;
}
.input {
  margin-right: 0.5rem;
}
.display {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
.moveToBucket {
  margin-right: 0.5rem;
}
