<h2>Store</h2>

<div style="margin-bottom: 1rem">
  <input
    type="text"
    pInputText
    placeholder="Item name"
    [(ngModel)]="item"
    class="input"
  />
  <input
    type="number"
    pInputText
    placeholder="Price"
    [(ngModel)]="price"
    class="input"
  />
  <button
    pButton
    label="Add Item"
    (click)="addItem()"
    class="p-button-success"
  ></button>
</div>

<ul class="container">
  <li *ngFor="let item of storeItems; let i = index" class="display">
    <p><strong>Item:</strong> {{ item.item }}</p>
    <p><strong>Price:</strong> ₹{{ item.price }}</p>
    <button
      pButton
      label="Move to Bucket"
      class="p-button-warning"
      [classList]="moveToBucket"
      (click)="moveToBucket(i)"
    ></button>
    <button
      pButton
      label="Remove"
      class="p-button-danger"
      (click)="removeItem(i)"
    ></button>
  </li>
</ul>

<button
  pButton
  label="Back to Home"
  class="p-button-secondary"
  (click)="goHome()"
></button>
