<h2>Bucket</h2>

<ul class="container">
  <li *ngFor="let item of bucketItems; let i = index" class="display">
    <p><strong>Item:</strong> {{ item.item }}</p>
    <p><strong>Price:</strong> ₹{{ item.price }}</p>
    <button
      pButton
      label="Move to Store"
      class="p-button-success moveToStore"
      (click)="moveToStore(i)"
    ></button>
    <button
      pButton
      label="Remove"
      class="p-button-danger"
      (click)="removeItem(i)"
    ></button>
  </li>
</ul>

<button
  pButton
  label="Back to Store"
  class="p-button-secondary"
  (click)="router.navigate(['/store'])"
></button>
